{% extends 'quotes_and_authors/base.html' %}

{% block title %}
    <title>Quotes</title>
{% endblock %}

{% block content %}
    {% for quote in quotes %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ quote.quote }}</p>
                <p class="card-text">{{ quote.author }}</p>
                {% for tag in quote.tags.all %}
                    <p class="card-text">{{ tag }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
            {% if quotes.has_previous %}
            <a href="qoute.previous_page_nameber">Previos</a>
        {% endif %}
        {% if quotes.has_next %}
            <a href="qoute.next_page_nameber">Next</a>
        {% endif %}
{% endblock %}