{% extends 'quotes_and_authors/base.html' %}

{% block title %}
    <title>Quotes</title>
{% endblock %}

{% block content %}
    {% for quote in quotes %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ quote.quote }}</p>
                <p class="card-text">{{ quote.author }}</p>
                {% for tag in quote.tags.all %}
                    <p class="card-text">{{ tag }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if quotes.has_previous %}
        <a href="?page=1">&laquo;&laquo; first</a>
        <a href="?page={{ quotes.previous_page_number }}">&laquo;Previous</a>
    {% endif %}
    {% if quotes.has_next %}
        <a href="?page={{ quotes.next_page_number }}">Next&raquo;</a>
        <a href="?page={{ quotes.paginator.num_pages }}">last &raquo;&raquo;</a>
    {% endif %}
{% endblock %}