{% extends 'quotes_and_authors/base.html' %}

{% block title %}
    <title>Tags</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                 class="scrollspy-example scroll-ex"
                 tabindex="0">
                {% for tag in tags %}
                    <a href="{% url 'quotes:quotes_tags' tag.id %}" class="text-muted mb-0">
                        <h4 id="{{ tag.name }}">{{ tag.name }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                {% if tags.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tags.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">First</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                <li class="page-item active">
                            <span class="page-link">
                                {{ tags.number }} / {{ tags.paginator.num_pages }}
                            </span>
                </li>

                {% if tags.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tags.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tags.paginator.num_pages }}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Last</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}