{% extends 'quotes_and_authors/base.html' %}

{% block title %}
    <title>Tags</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                 class="scrollspy-example scroll-ex"
                 tabindex="0">
                {% for tag in tags %}
                    <a href="{% url 'quotes:quotes_tags' tag.id %}" class="text-muted mb-0">
                        <h4 id="{{ tag.name }}">{{ tag.name }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}